.container {
    background-color: cadetblue;
    height: 300px;
    width: 400px;
    margin: 0 auto;
}
.buttons-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 1px solid black;
}
.button {
    background-color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
}
.button.buttons1 {
    width: 20px;
    height: 20px;
}
.button.buttons2 {
    width: 100px;
    line-height: 20px;
}
.inputs-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px 55px;
}
.input-container {
    text-align: center;
    padding: 10px;
}
.result {
    text-align: center;
    padding-top: 30px;
}
input {
    width: 80px;
}